{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Get-it</title>
    <link rel="stylesheet" href="{% static 'notes/style/reset.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'notes/style/style.css' %}"  type="text/css">
  </head>
  <body>
    <header1>
        {% if user.is_authenticated %}
        {{ user.first_name }} <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Sair</button>
          </form>
        {% endif %}
        {% block content %} {% endblock %}
      </header1>
  </body>
</html>