header {
    width: 100%;
    height: 2rem;
    align-items: end;
    overflow: hidden;
    background-color: #7c7b7b;
    font-size: 16px;
    font-family: "Open Sans" sans-serif;
}

h1 {
    text-align: center;

}

header1 {
    width: 100%;
    align-items: flex-end;
    overflow: hidden;
    background-color: #7c7b7b;
    font-size: 16px;
    font-family: "Open Sans" sans-serif;
}

a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: flex-end;
}

a:hover {
    background-color: #ddd;
    color: black;
}

body {
    display: flex;
    background-color: #ffffff;
    color: #000000;
}

button {
    height: fit-content;
    width: 3rem;
}

form {
    align-items: center;
}