header {
    display: flex;
    width: 100%;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #7c7b7b;
    font-size: 16px;
    font-family: "Open Sans" sans-serif;
}

.home {
    position: absolute;
    top: 0px;
    left: 0px;
}

.right {
    align-self: flex-end;
}

.center {
    align-self: center;
}

h1 {
    align-self: center;
    text-align: center;

}

textarea {
    height: fit-content;
    width: fit-content;
}

.formularios {
    border: 3px solid #000000;
}

a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    align-items: flex-end;
}

.but {
    background-color: #7c7b7b;
    text-align: center;
    align-self: center;
    height: fit-content;
    width: fit-content;
}

a:hover {
    background-color: #ddd;
    color: black;
}

button:hover {
    background-color: #ddd;
    color: black;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: #ffffff;
    color: #000000;
}

button {
    height: fit-content;
    width: fit-content;
}

form {
    align-items: center;
}