{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Adicionar Formulário</title>
    <link rel="stylesheet" href="{% static 'notes/style/reset.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'notes/style/style.css' %}"  type="text/css">
</head>
<body>
    <header>
    <a class="but" href="/">Home</a>
    <h1>Adicionar Formulário</h1>
    </header>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome do Formulário:</label>
        
        <input type="text" name="nome" required><br>
        <label for="nome">Descrição do Formulário:</label>
        <textarea name="descricao" required></textarea><br>
        <!-- <label for="texto">Texto da Pergunta:</label>
        <textarea name="texto" required></textarea><br>
        <label for="tipo">Tipo de Pergunta:</label>
        <select name="tipo" required>
            <option value="TXT">Texto</option>
            <option value="INT">Intervalo</option>
            <option value="MUL">Múltipla Escolha</option>
        </select><br>
        <div id="opcoes" style="display: none;">
            <label for="opcao">Opções (se for múltipla escolha):</label><br>
            <input type="text" name="opcao"><br> -->
        </div>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <script>
        document.querySelector('select[name="tipo"]').addEventListener('change', function() {
            if (this.value === 'MUL') {
                document.getElementById('opcoes').style.display = 'block';
            } else {
                document.getElementById('opcoes').style.display = 'none';
            }
        });
    </script>
</body>
</html>

