<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Formulário</title>
</head>
<body>
    <h1>Detalhes do Formulário</h1>
    <p><strong>Nome do Formulário:</strong> {{ formulario.nome }}</p>
    <p><strong>Descrição Formulário:</strong> {{ formulario.descricao }}</p>
    <p><strong>Data de Criação:</strong> {{ formulario.data_criacao }}</p>
    
    <!-- Formulário para gerar o PDF -->
    <form action="{% url 'formulario_pdf' formulario.id %}" method="post">
        {% csrf_token %}
        
        <label for="tipo">Tipo de Pergunta:</label>
        <!-- Selecionar o tipo de pergunta -->
        <select name="tipo" required>
            <option value="TXT">Texto</option>
            <option value="INT">Intervalo</option>
            <option value="MUL">Múltipla Escolha</option>
        </select><br>
        
        <!-- Botão para gerar o PDF -->
        <button type="submit">Gerar PDF</button>
    </form>
    
    <!-- Div para opções (se aplicável) -->
    <div id="opcoes" style="display: none;">
        <label for="opcao">Opções (se for múltipla escolha):</label><br>
        <input type="text" name="opcao"><br>
    </div>

    <!-- Se houver perguntas associadas ao formulário, exibi-las -->
    <h2>Perguntas do Formulário</h2>
    <ul>
        {% for pergunta in formulario.pergunta_set.all %}
            <li>{{ pergunta.texto }}</li>
        {% endfor %}
    </ul>
</body>
</html>
