<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Formulário</title>
</head>
<body>
    <header>
    <a class="home" href="/">Home</a>
    <h1>Excluir Formulário</h1>
    </header>
    <p>Você tem certeza que deseja excluir o formulário "{{ formulario.nome }}"?</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirmar">
    </form>
    <a href="{% url 'meus_formularios' %}">Cancelar</a>
</body>
</html>
