<!-- formulario_pdf.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'notes/style/reset.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'notes/style/style.css' %}"  type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário PDF</title>

</head>
<body><header>
    <a class="but" href="/">Home</a>
    <h1>Detalhes do Formulário</h1>
</header>
    <div class="container">
        <p><strong>Nome do Formulário:</strong> {{ formulario.nome }}</p>
        <p><strong>Descrição do Formulário:</strong> {{ formulario.descricao }}</p>
        <p><strong>Data de Criação:</strong> {{ formulario.data_criacao }}</p>
        
        <!-- Adicione as perguntas aqui -->
        <h2>Perguntas:</h2>
        <ul>
            {% for pergunta in perguntas %}
            <li>{{ pergunta.texto }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
