{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'notes/style/reset.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'notes/style/style.css' %}"  type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Formulários</title>
</head>
<body>
<header>
    <a class="home" href="/">Home</a>
    <h1>Meus Formulários</h1>
</header>
        {% for formulario in meus_formularios %}
            <div class= "formularios">{{ formulario.nome }} - {{ formulario.data_criacao }}
                <a href="{% url 'detalhes_formulario' formulario.id %}">
                    <button>Acessar</button>
                </a>
                <br>
            </div>
        {% empty %}
            <li>Você ainda não adicionou nenhum formulário.</li>
        {% endfor %}
</body>
</html>
